body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background: url('bg.png') no-repeat center center fixed;
  background-size: cover;
}

/* TITELS */
h1 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 4rem;
  margin: 20px auto;
  display: block;
  width: fit-content;
  background: rgba(255,255,255,0.9);
  padding: 10px 30px;
  border-radius: 25px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

h2 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  background: rgba(255,255,255,0.85);
  padding: 8px 20px;
  border-radius: 20px;
}

/* layout */
#layout {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  gap: 20px;
  padding: 20px;
}

/* panel */
.panel {
  background: rgba(255,255,255,0.9);
  border-radius: 30px;
  padding: 20px;
}

/* timers */
#timers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.timerBox {
  border-radius: 40px;
  padding: 15px 20px;
  border: 6px solid;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  font-size: 2rem;
}

/* cirkel links */
.timerCircle {
  width: 70px;
  height: 70px;
  min-width: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}


/* vrij / actief */
.free {
  background: #d3f9d8;
}

.active {
  background: white;
}

/* lijst spacing */
#last li, #top li {
  margin: 15px 0;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}

/* cirkel in lijst */
.circleList {
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  border: 2px solid white;
}

/* kleuren */
.a { border-color:#eda622 }
.z { border-color:#c80303 }
.e { border-color:#9b50b9 }
.r { border-color:#000000 }
.t { border-color:#f694c0 }
.y { border-color:#a2dd0d }
.u { border-color:#571c0e }
.i { border-color:#737070 }
.o { border-color:#3cb7d6 }
.p { border-color:#351368 }

/* reset knop */
#reset {
  position: fixed;  
  bottom: 5px;
  right: 5px;
  opacity: 0.2;
}

/* TOP 3 highlight */
#top li:nth-child(1) {
  background: gold;
  color: black;
  font-weight: bold;
  border-radius: 20px;
  padding: 8px;
}

#top li:nth-child(2) {
  background: silver;
  color: black;
  border-radius: 20px;
  padding: 8px;
}

#top li:nth-child(3) {
  background: #cd7f32; /* brons */
  color: white;
  border-radius: 20px;
  padding: 8px;
}

#top li:nth-child(-n+3) {
  font-size: 1.6rem;
}